.login-form {
    .error-message {
        padding: 12px 20px;
        color: white;
        background-color: $red;

        .message-title {
            margin-top: 0;
            font-weight: 700;
        }
    }
}
