.login-form {
    .title {
        margin: 0;
        font-size: $font-size-title;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .error-message {
        padding: 12px 20px;
        color: white;
        background-color: $red;

        .message-title {
            margin-top: 0;
            font-weight: 700;
        }
    }
}
