.list {
    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        & > li {
            padding-bottom: 80px;
            p {
                margin: 0;
                padding: 0;

                &.title {
                    margin-bottom: 10px;
                    font-size: $font-size-title;
                    font-weight: 700;

                    a {
                        color: $grey-dark;
                    }

                    @include max-screen(768px) {
                        font-size: $font-size-title * 0.8;
                    }
                }

                &.project {
                }

                &.description { 
                }

                &.date {
                }
            }
        }
    }
}
