.post {
    p {
        margin: 0;
        padding: 0;
    }

    .hint {
        cursor: help;
        border-bottom: 1px dashed $grey;
    }

    .addthis_sharing_toolbox {
        margin-top: 10px;
    }

}
