.post {
    p {
        margin: 0;
        padding: 0;

        &.post-title {
            font-size: $font-size-title;
            font-weight: 700;
            padding-bottom: 20px;
        }
    }

}
