.administration {
    display: flex;
    flex-direction: row;

    .menu {
        width: 20%;
        float: left;

        ul {
            margin: 0;
            padding: 0;
            li {
                font-weight: 500;
                margin-bottom: 20px;

                a {
                    padding: 0 5px;
                    &.active {
                        color: white;
                        background-color: $accent;
                    }
                }
            }
        }
    }

    .page {
        float: left;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}
