.administration {
    .menu {
        width: 20%;
        float: left;
        display: inline-block;

        ul {
            margin: 0;
            padding: 0;
            li {
                font-weight: 500;
                margin-bottom: 20px;

                a {
                    padding: 0 5px;
                    &.active {
                        color: white;
                        background-color: $accent;
                    }
                }
            }
        }
    }

    .page {
        float: left;
        display: inline-block;
    }
}
