<div class="dashboard">
    <h3>Quick actions</h3>

    <ul>
        <li>
            {{#inline-action action="rebuildCache" error=error.rebuildCache success=success.rebuildCache}}
                Drop cache and rerender routes
            {{/inline-action}}
        </li>
        <li>
            {{#inline-action action="updateCache" error=error.updateCache success=success.updateCache}}
                Render and cache new routes
            {{/inline-action}}
        </li>
        <li>
            {{#inline-action action="generateSitemap"}}
                Regenerate a sitemap
            {{/inline-action}}
        </li>
        <li>
            <a {{action "editSitemap"}}>Edit a sitemap</a>
        </li>
        <li>
            <a {{action "invalidateSession"}}>Logout</a>
        </li>
    </ul>

    {{outlet}}
</div>
