{{#if isLive}}
<h1>I'm streaming</h1>
<iframe src="https://www.livecoding.tv/kuzzmi/embed" width="100%" height="520" frameborder="0" allowfullscreen="true" scrolling="no" id="lctv-frame"></iframe>
{{/if}}

{{yield}}
