<div class="about">
    {{gravatar-image email=model.email size="202"}}
    <p>
        Hello, my name is Igor. I love my wife, JavaScript, and Vim. 
    </p>
    <p>
        I do:
        <ul>
            <li>beautiful stuff</li>
            <li>automate stuff</li>
            <li>develop stuff</li>
            <li>listen stuff</li>
            <li>learn stuff</li>
            <li>code stuff</li>
            <li>draw stuff</li>
            <li>fix stuff</li>
            <li>buy stuff</li>
        </ul>

        I do <strong>not</strong>:
        <ul>
            <li>use Java</li>
            <li>worry</li>
            <li>like fish</li>
        </ul>
    </p>
</div>
