<div class="about">
    {{gravatar-image email=model.email size="202"}}
    <p>
        Hello, my name is Igor. I love my wife, JavaScript, and Vim. 
    </p>
    <p>
        A few links:
        <ul>
            <li>
                My <a href="https://twitter.com/kuzzmi" onClick="ga('send', 'event', 'Social links', 'click', 'twitter')">Twitter</a>
            </li>
            <li>
                My <a href="https://github.com/kuzzmi" onClick="ga('send', 'event', 'Social links', 'click', 'github')">GitHub</a>
            </li>
            <li>
                My <a href="https://www.linkedin.com/in/ikuzmenko" onClick="ga('send', 'event', 'Social links', 'click', 'linkedin')">LinkedIn</a>
            </li>
            <li>
                My <a href="http://www.google.com/recaptcha/mailhide/d?k=01u9w1IrkGbjUo7HO21LHZnw==&c=Z6ZmOi-m7Z0AJ4pmruD3Mw==" onClick="ga('send', 'event', 'Social links', 'click', 'email')">Email</a>
            </li>
        </ul>
    </p>
    <p>
        I do:
        <ul>
            <li>beautiful stuff</li>
            <li>automate stuff</li>
            <li>develop stuff</li>
            <li>listen stuff</li>
            <li>learn stuff</li>
            <li>code stuff</li>
            <li>draw stuff</li>
            <li>fix stuff</li>
            <li>buy stuff</li>
        </ul>

        I do <strong>not</strong>:
        <ul>
            <li>use Java</li>
            <li>worry</li>
            <li>like fish</li>
        </ul>
    </p>
</div>
