{{title "Administration Panel"}}
<h1>Administration</h1>

<div class="administration">

    <div class="menu">
        <ul>
            {{#each model as |menuItem|}}
            <li>
                <h3>{{link-to menuItem.title menuItem.route}}</h3>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="page">
        {{outlet}}
    </div>

</div>
