<div class="posts-list">
    {{#admin-toolbar}}
        <li>
            <a {{action "sync"}}>[F4] Sync</a>
        </li>
    {{/admin-toolbar}}
    <ul>
        {{#each model as |project|}}
            <li>
                <p class="project-title">
                    {{project.fullname}}
                </p>
            </li>
        {{/each}}
    </ul>
</div>
{{outlet}}
