*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html,
body {
    font-family: 'Roboto Mono', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    color: $text-color;
    overflow-x: hidden;
}

.wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;

    .content {
        padding: 20px 40px;
        padding-top: 0px;
    }
}
    
a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        text-decoration: underline;
    }
}

form {
    input, textarea {
        font-family: 'Roboto Mono', 'Roboto', sans-serif;
        display: block;
        margin-bottom: 20px;
        width: 100%;
        border: 0;
        outline: 0;
        font-size: 16px;
    }

    input {
        border-bottom: 1px solid $grey-light;
        padding: 5px 0px;

        &[type="submit"] {
            color: white;
            font-weight: 700;
            background-color: $green;
        }
    }
}

.toolbar {
    display: inline-block;
    float: right;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            font-weight: 500;
        }
    }
}
