*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $accent;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

html,
body {
    font-family: 'Roboto Mono', 'Roboto', monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    color: $text-color;
    overflow-x: hidden;

    @include max-screen(768px) {
        font-size: 100%;
    }

    // @include hdpi(3) {
    //     font-size: 115%;
    // }
    // (<768px)(≥768px)(≥992px)(≥1200px)  
}

.wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;

    .content {
        padding: 20px 40px;
        padding-top: 0px;

        @include max-screen(768px) {
            padding: 20px;
            padding-top: 0px;
        }
    }
}
    
a {
    text-decoration: none;
    color: $accent;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

form {
    input:not([type]),
    input[type="text"], 
    input[type="password"], 
    input[type="submit"], 
    textarea {
        font-family: 'Roboto Mono', 'Roboto', monospace;
        display: block;
        margin-bottom: 20px;
        width: 100%;
        border: 0;
        outline: 0;
        font-size: 16px;
    }
    
    input:not([type]),
    input[type="text"], 
    input[type="password"], 
    input[type="submit"] {
        border-bottom: 1px solid $grey-light;
        padding: 5px 0px;

        &[type="submit"] {
            color: white;
            font-weight: 700;
            background-color: $green;
        }
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin-bottom: 20px;
        background: none;
        border: 1px solid $grey-light;
    }
}

// SHOULD BE MOVED TO HELPERS

.hidden {
    display: none !important;
}
