$accent: #FF8300;

$grey-lightest: rgba(0, 0, 0, 0.1);
$grey-light: rgba(0, 0, 0, 0.3);
$grey: rgba(0, 0, 0, 0.6);
$grey-dark: rgba(0, 0, 0, 0.8);
$grey-darkest: rgba(0, 0, 0, 0.9);

$font-size-title: 32px;
$font-size-navbar: 26px;

$text-color: $grey-dark;
