$accent: #FF8300;
$green: rgb(84, 179, 108);
$red: rgb(179, 84, 84);

$grey-lightest: rgba(0, 0, 0, 0.05);
$grey-light: rgba(0, 0, 0, 0.3);
$grey: rgba(0, 0, 0, 0.6);
$grey-dark: rgba(0, 0, 0, 0.8);
$grey-darkest: rgba(0, 0, 0, 0.9);

$font-size-title: 32px;
$font-size-navbar: 26px;

$text-color: $grey-dark;
