.autocomplete {
    .selected-value, .found-item {
        font-weight: 500;
        color: white;
        background-color: $accent;
        padding: 2px 5px;
    }
    input {
        margin-bottom: 10px;
    }
    .autocomplete-results {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    margin-bottom: 20px;
}
