$space: -9999px;
@mixin outofspace {
    margin-left: $space;
    margin-right: $space
}

.post-body {
    p {
        padding: 10px 0;

        code {
            @include max-screen(768px) {
                font-size: 90%;
                padding: 0px 4px;
            }

            font-size: 14px;
            padding: 2px 4px;
            border-radius: 2px;
            background: $grey-lightest;
        }
    }

    pre, blockquote {
        @include outofspace;
        @include max-screen(768px) {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    pre {
        background: #444;
    }

    code {
        max-width: 1000px;

        @include max-screen(768px) {
            max-width: 100%;
            font-size: 90%;
        }

        margin-left: auto;
        margin-right: auto;
        padding: 20px 40px;
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
    }

    blockquote {
        background: $grey-lightest;
        padding: 20px 0;

        @include max-screen(768px) {
            padding: 20px;
        }

        p, ul, ol {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    dl {
        dt {
            font-weight: 500;
            &:after {
                content: ": "
            }
        }
    }

    caption {
        font-size: 12px;
        color: $grey;
    }

    ul {
        @include max-screen(768px) {
            padding-left: 20px;
        }

        li:before {
            content: "* ";
        }
    }
}
