$space: -9999px;
@mixin outofspace {
    margin-left: $space;
    margin-right: $space
}

.post-body {
    p {
        padding: 10px 0;

        img {
            display: block;
            margin: 0 auto;
            vertical-align: middle;
            border: 0;
        }

        code {
            @include max-screen(768px) {
                font-size: 90%;
            }

            font-size: 12px;
            padding: 3px 5px;
            border-radius: 2px;
            background: $grey-lightest;
        }
    }

    pre {
        @include outofspace;

        @include max-screen(768px) {
            margin-left: -20px;
            margin-right: -20px;
        }

        background: #444;
    }

    code {
        max-width: 1000px;

        @include max-screen(768px) {
            max-width: 100%;
            font-size: 90%;
        }

        margin-left: auto;
        margin-right: auto;
        padding: 20px 40px;
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
    }

    blockquote {
        @include outofspace;
        background: $grey-lightest;
        padding: 20px 0;

        p {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    a {
        color: $accent;
    }

    dl {
        dt {
            font-weight: 500;
            &:after {
                content: ": "
            }
        }
    }

    caption {
        font-size: 12px;
        color: $grey;
    }

    table {
        width: 100%;
    }

    ol {
        padding-left: 75px;

        @include max-screen(768px) {
            padding-left: 20px;
        }
    }

    ul {
        list-style: none;

        @include max-screen(768px) {
            padding-left: 20px;
        }

        li:before {
            content: "* ";
        }
    }
}
