@keyframes recolor {
    from {
        -webkit-filter: hue-rotate(0deg);
        -moz-filter: hue-rotate(0deg);
        -o-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(359deg);
        -moz-filter: hue-rotate(359deg);
        -o-filter: hue-rotate(359deg);
        filter: hue-rotate(359deg);
    }
}

nav {

    .blog-title {
        color: $accent;
        font-size: 24px;
        font-weight: 500;
        font-family: 'Roboto Mono';
        display: inline-block;

        .animated-dot {
            animation-name: recolor;
            animation-duration: 20s;
            animation-iteration-count: infinite;
        }
    }

    ul {
        margin: 0px;
        margin-left: 20px;
        padding: 0px;
        list-style: none;
        display: inline-block;

        li {
            display: inline-block;
            text-transform: lowercase;
            font-family: 'Roboto Mono';
            font-weight: 500;
            font-size: 24px;
            padding: 0 10px;

            a {
                padding: 0 10px;
                background: white;
                transition: background 0.2s cubic-bezier(0.27, 0.98, 0.54, 0.94);
                &.active {
                    color: white;
                    background: black;
                }
            }

        }
    }

    padding: 40px;
}
