@keyframes recolor {
    from {
        -webkit-filter: hue-rotate(0deg);
        -moz-filter: hue-rotate(0deg);
        -o-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(359deg);
        -moz-filter: hue-rotate(359deg);
        -o-filter: hue-rotate(359deg);
        filter: hue-rotate(359deg);
    }
}

nav {
    opacity: 0.1;
    padding: 80px 40px;
    position: relative;
    box-sizing: content-box;
    height: $font-size-navbar + 10px;

    @include max-screen(768px) {
        padding: 20px 0px;
    }

    .blog-title {
        height: 100%;
        position: relative;
        display: inline-block;

        @include max-screen(768px) {
            width: 100%;
            padding: 0 20px;
        }

        .nav-toggle {
            display: none;
            border: none;
            background: transparent;
            float: right;
            height: 34px;
            outline: 0;
            transform: rotate(0deg);
            transition: transform .25s cubic-bezier(.35,0,.25,1);

            span {
                display: block; 
                height: 1px;
                margin: 3px 0;
                width: 15px;
                border-bottom: 2px solid $grey;
            }

            &.active {
                transform: rotate(90deg);
                span {
                    border-bottom: 2px solid $accent;
                }
            }

            @include max-screen(768px) {
                display: inline-block;
            }
        }

        a {
            float: left;
            top: -8px;
            color: $accent;
            font-size: $font-size-navbar;
            font-weight: 500;
            font-family: 'Roboto Mono';

            @include max-screen(768px) {
                position: relative;
                top: -2px;
            }

            .animated-dot {
                animation-name: recolor;
                animation-duration: 20s;
                animation-iteration-count: infinite;

                @include max-screen(768px) {
                    display: none;
                }
            }
        }

        color: white;

    }

    .navbar {
        position: relative;
        margin-left: 20px;
        display: inline-block;
        height: 100%;

        @include max-screen(768px) {
            transform: translate(-100%, 0); 
            transition: transform .25s cubic-bezier(.35,0,.25,1);
            display: block;
            position: fixed;
            left: -20px;
            right: 70px;
            top: 0;
            bottom: 0;
            background-color: rgb(230, 230, 230);
            &.show {
                transform: translate(0, 0); 
            }
            z-index: 100;
        }

        .active-indicator {
            background: black;
            height: 100%;
            top: 0;
            position: absolute;
            display: inline-block;
            z-index: -1;
            transition: left .25s cubic-bezier(.35,0,.25,1), right .125s cubic-bezier(.35,0,.25,1);
            @include max-screen(768px) {
                display: none;
            }
        }

        ul {
            margin: 0px;
            padding: 0px;
            height: 100%;
            list-style: none;
            display: inline-block;
            overflow: hidden;
            z-index: 10;

            li {
                display: inline-block;
                text-transform: lowercase;
                font-family: 'Roboto Mono';
                font-weight: 500;
                font-size: $font-size-navbar;
                padding: 0 10px;

                @include max-screen(768px) {
                    display: block;
                    padding-top: 20px;
                    padding-left: 20px;
                }

                a {
                    transition: color .25s cubic-bezier(.35,0,.25,1), background-color .125s cubic-bezier(.35,0,.25,1);
                    padding: 0 10px;
                    &.active {
                        color: white;
                        @include max-screen(768px) {
                            background-color: black;
                        }
                    }
                }

            }
        }
    }

}
