.post-edit-form {
    .toolbar {
        display: inline-block;
        float: right;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                font-weight: 500;
            }
        }
    }

    .title {
        margin: 0;
        font-size: $font-size-title;
        font-weight: 700;
        padding-bottom: 20px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    form {
        p.label {
            font-weight: 500;
            margin-bottom: 10px;
            &:after {
                content: ":"
            }
        }
        input, textarea {
            font-family: 'Roboto Mono', 'Roboto', sans-serif;
            display: block;
            margin-bottom: 20px;
            width: 100%;
        }
        input {
            border: 0;
            outline: 0;
            font-size: 16px;
            padding: 5px 0px;

            &[type="submit"] {
                border-bottom: 1px solid $grey-dark;
                color: white;
                font-weight: 700;
                background-color: rgb(84, 179, 108);
            }
        }
        textarea {
            outline: 0;
            height: 50px;
            border: 0;
            font-size: 16px;
        }
        .CodeMirror {
            font-family: 'Roboto Mono', monospace;
            height: 500px;

            .CodeMirror-cursor {
                background-color: $text-color;
            }
        }
    }
}
