.post-edit-form {
    .toolbar {
        display: inline-block;
        float: right;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                font-weight: 500;
            }
        }
    }

    .title {
        margin: 0;
        font-size: $font-size-title;
        font-weight: 700;
        padding-bottom: 20px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    form {
        input, textarea {
            font-family: 'Roboto Mono', 'Roboto', sans-serif;
            display: block;
            margin-bottom: 20px;
            width: 100%;
        }
        input {
            border: 0;
            outline: 0;
            font-size: 18px;
            border-bottom: 1px solid $grey-dark;
            padding: 5px 0px;
        }
        textarea {
            height: 100px;
        }
        .CodeMirror {
            font-family: 'Roboto Mono', monospace;
            height: 200px;
        }
    }
}
